html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
}
body{
    margin: 0px;
    background-color: rgb(21, 7, 75);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo{
    align-self: baseline;
    justify-content: left;
    scale: 100%;
}
header{
    display: flex;
    top: 0;
    width: 100%;
    background-color: #000000;
    justify-content:space-around;
    position: fixed;
    z-index: 1;
}
header img{
    width: 100px;
    justify-items: left;
    margin-left: 0;
}
nav{
    padding: 15px;
    align-items: flex-start;
}
nav a{
    padding: 10px 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    scale: 100%;
    border-radius: 10px;
    float: left;
}
nav a:hover{
    background-color: rgb(11, 0, 73);
    transition: 0.5s;
    color: rgb(255, 255, 0);
    scale: 120%;
}
.home{
    height: 800px;
    background: url(Screenshot\ 2025-04-28\ 084019.png);
    background-repeat: no-repeat;
    color: rgb(47, 0, 255);
    justify-content: center;
    position: relative;
    background-attachment: fixed;
}
.logo:hover{
    scale: 105%;
    transition: 0.2s;
}
.welcome{
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0); 
    font-size: 20px; 
    font-weight: bold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-width: 10px;
    border-radius: 5px;
    text-decoration: none ;
}
.welcome p{
    background-color: rgb(255, 255, 255);
    opacity: 1;
    user-select: none;
    border-radius: 50%;
    padding: 0;
}
.welcome a{
    font-size: 20px;
    background-color: yellow;
    color: rgb(0, 21, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
    text-decoration:underline;
    /* padding-top: 2px; */
    scale: 100%;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    padding: 20px;
    width: 200px;
}
.welcome a:hover{
    color: blue;
    background-color: yellow;
    transition: 0.5s;
}
.welcome a span{
    cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  background-color: yellow;
  color: red;
}
.welcome a span:after{
    content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.welcome a span:hover{
    font-size: 30px;
    color: blue;
    background-color: yellow;
    transition: 0.5s;
    padding-right: 25px;
}
.welcome a:hover span:after{
    opacity: 1;
    right: 0;
}
.welcome img{
    scale: 100%;
    transition: 0.7s;
}
.welcome img:hover{
    scale: 120%;
    transition: 0.7s;
}
.about{
    background-color: black;
    height: 500px;
    color: yellow;
    float: left;
    justify-content: flex-start;
    font-size: 25px;
    padding-left: 2%;
    display: flex;
    align-items: center;
}
.event{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 221, 0);
    font-size: 25px;
    padding-left: 2%;
    justify-content: center;
    height: 350px;
    margin: auto;
}
.event p{
    opacity: 0;
    transition: 0.5s;
}
.event p:hover{
    opacity: 1;
    transition: 0.5s;
}
.about img{
    flex: 1;
    max-width: 50%;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border-width: 10px;
    display: block;
    padding: 15px;
}
.about p{
    flex: 2;
    padding-right: 20px;
    padding: 15px;
    margin: 0;
    filter: blur(2.5px);
    transition: 0.5s;
}
.about p:hover{
    filter: blur(0);
    transition:0.5s
}
.about h2{
    flex: 1;
    padding: 0;
    margin: 0;
}
.product{
    background: url(supermarket\ image\ lol.png);
    background-attachment: fixed;
    background-size: auto;
  }
.product h1{
    display: inline-block;
    white-space: nowrap;
    color: white;
    font-size: 50px;
    background-color: blue ;
    border-radius: 10px;
}
.justthecardsey{
    grid-template-columns: repeat(3,1fr);
    display: grid;
    gap: 20px;
    justify-items: center;
    margin: 20px;
}
.card{
    width:250px; 
    margin:10px; 
    height: 550px; 
    box-shadow: 0 0 2px ; 
    padding: 10px; 
    text-align: center; 
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    transition: 0.5s;
    scale: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.card img{
    width: 80%;
    border-width: 10px;
    border-radius: 5px;
    border-color: black;
    border-style:ridge
}
.card .title{
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card .description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card h2{
    margin-left: 10px;
}
.card button{
    background-color: blue;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    width: auto;
    margin-top: 20px ;
    height: 30px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
    scale: 100%;
    cursor: pointer;
}
.card:hover{
    transition: 0.5s;
    filter: hue-rotate(360deg);
    scale: 105%;
}
.card button:hover{
    opacity: 1;
    transition: 0.5s;
    filter:invert(360deg) ;
    scale: 120%;
}
.contacts{
    height: 700px;
    background-color: white;
    justify-items: center;
    margin: 50px;
    scale: 100%;
    transition: 0.5s;
    border-style: dotted;
    border-width: 10px;
    border-radius: 10px;
    filter: blur(30);
}
.contacts:hover{
    scale: 105%;
    transition: 0.5s;
    filter: blur(0);
}
.card2{
    margin: 20px;
    box-shadow: 0 0 2px ; 
    text-align: center; 
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    transition: 0.5s;
    scale: 100%;
    justify-content:space-between;
    gap: 20px;
}
.card2 a{
    text-decoration: none;
}
footer{
    background-color: rgb(0, 0, 0);
    height: 100px;
    transition: 0.5s;
}
footer .media{
    text-align: center;
    padding-top: 10px;
    justify-content: center;
}
.mhm{
    flex-direction: column;
}
footer .media a{
    color: white;
    font-size: 50px;
    padding: 5px 20px;
    scale: 100%;
    transition: 0.5s;
}
footer:hover{
    background-color: blue;
    color: yellow;
    transition: 0.5s;
}